* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f0f5;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.form-left {
    width: 60%;
}

select option[value=""][disabled] {
    color: #888;

}

select {
    color: #000;
}

select:invalid {
    color: #888;

}


.form-title,
.contact-title {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #00474F;
    text-align: center;

}

.form-description,
.contact-text {
    font-size: 1rem;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.input-field {
    flex: 1;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
    height: 120px;
    box-sizing: border-box;
    margin-top: 10px;
    transition: border-color 0.3s ease;
}

textarea:focus {
    border-color: #00474F;
    outline: none;
}

.btn-primary {
    background-color: #00474F;
    color: white;
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn-primary:hover {
    background-color: #006266;
}

.contact-info {
    width: 35%;
    background-color: #00474F;
    color: white;
    border-radius: 10px;
    padding: 30px;

    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.contact-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.contact-text {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #B3D1D1;
}

.contact-item {
    font-size: 1rem;
    margin-bottom: 15px;
    color: white;
}

.contact-link {
    font-weight: bold;
    color: #B3D1D1;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: #fff;
    margin: 20px auto;
}

address {
    font-style: normal;
    margin-bottom: 20px;
}

.contact-info p,
.contact-info address {
    margin: 10px 0;
    line-height: 1.6;
}

.contact-details {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .form-wrapper {
        flex-direction: column;
    }

    .form-left,
    .contact-info {
        width: 100%;
    }

    .input-group {
        flex-direction: column;
    }
}